.nav-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  background-color: rgb(237, 210, 99);
}

.nav-container a {
  text-decoration: none;
}

.nav-container h3 {
  color: rgb(59, 45, 100);
  font-weight: 700;
}
