.card-food-container {
  width: 250px;
  height: 300px;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
}

.card-food-container img {
  border-radius: 10px 10px 0 0;
  height: 75%;
  /* object-fit: cover; */
}

.card-food-container h4 {
  font-family: 'Roboto', sans-serif;
  height: 25%;
  width: 80%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
